<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.liaosong.app.securitycontext">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DefineSecurityActivity"
            android:label="@string/title_activity_define_security"
            android:parentActivityName=".ui.MainActivity">
        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.SecurityItemActivity"
            android:label="@string/title_activity_security_item"
            android:parentActivityName=".ui.DefineSecurityActivity">
        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DefineSecurityActivity" />
        </activity>
        <activity
            android:name=".ui.SetPasswordActivity"
            android:label="@string/title_activity_set_password" />
        <activity
            android:name=".ui.AccessActivity"
            android:label="@string/title_activity_access"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".ui.SecurityContextActivity"
            android:label="@string/title_activity_security_context" />
        <activity
            android:name=".ui.DefineContextActivity"
            android:label="@string/title_activity_define_context" />
        <activity
            android:name=".ui.DefineContextLocationActivity"
            android:label="@string/title_activity_define_context_location"></activity>
    </application>

</manifest>
